/* General Styles */
form#entidadCrt {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form#entidadCrt h4.header {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    background-color: #add8e6; /* Color celeste */
    padding: 10px;
    border-radius: 4px;
  }
  
  form#entidadCrt label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 8px;
  }
  
  form#entidadCrt input[type="text"],
  form#entidadCrt select,
  form#entidadCrt input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form#entidadCrt .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: #28a745;
  }
  
  form#entidadCrt .button:hover {
    background-color: #218838;
  }
  
  form#entidadCrt .button.alert {
    background-color: #dc3545;
  }
  
  form#entidadCrt .button.alert:hover {
    background-color: #c82333;
  }
  
  form#entidadCrt .grid-x {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  form#entidadCrt .cell {
    flex: 1;
    min-width: calc(50% - 20px);
  }
  
  form#entidadCrt .text-center {
    text-align: center;
  }
  