p {
    font-size: 1rem;
    color: #666;

}

img {
    width: 50%;
    height: 500;
	left: 10px;
	text-align: center;
	margin-left: 110px;
	
}

.grid-container {
    margin-top: 50px;
}

.callout.secondary {
    background-color: #f8f8f8;
	margin-top:50px;
	padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}