body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    width: 50%;
  }

  .login-form h2 {
    margin-bottom: 20px;
  }

  .login-form label {
    margin-top: 10px;
  }

  .login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }

  .login-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .image-section {
    width: 50%;
    background: url('https://diariosinfronteras.com.pe/wp-content/uploads/2023/12/f-3.jpg') no-repeat center center;
    background-size: cover;
  }